<ion-header>
  <ion-toolbar>
    <ion-title>Cart Summary</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of cartItems" class="cart-item">
      <ion-thumbnail slot="start">
        <img [src]="item.image_url" alt="{{ item.name }}" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ item.name }}</h2>
        <p>{{ item.price | currency }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="removeItem(item)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ion-item class="cart-total">
    <ion-label>Total (incl. VAT):</ion-label>
    <ion-label slot="end">{{ cartTotal | currency }}</ion-label>
  </ion-item>

  <div class="checkout-buttons">
    <ion-button expand="block" (click)="checkout()">Proceed to checkout</ion-button>
    <ion-button expand="block" (click)="dismissModal()">Continue shopping</ion-button>
  </div>
</ion-content>

