<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ product.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <img [src]="product.image_url" alt="{{ product.name }}" />
    <ion-card-header>
      <!-- <ion-card-subtitle>{{ product?.category }}</ion-card-subtitle> -->
      <ion-card-title>{{ product.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ product.description }}</p>
      <p><strong>Price:</strong> {{ product.price | currency }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
