<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"> </ion-back-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-label position="stacked">Full Name</ion-label>
      <ion-input
        type="text"
        name="fullname"
        [(ngModel)]="profile.full_name"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Username</ion-label>
      <ion-input
        type="text"
        name="username"
        [(ngModel)]="profile.username"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Website</ion-label>
      <ion-input
        type="url"
        name="website"
        [(ngModel)]="profile.website"
      ></ion-input>
    </ion-item>
    <div class="ion-text-center">
      <ion-button fill="clear" (click)="updateProfile()"
        >Update Profile</ion-button
      >
    </div>
  </form>

  <div class="ion-text-center">
    <ion-button fill="clear" (click)="signOut()">Log Out</ion-button>
  </div>
</ion-content>
